<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.jackm4.goldenstocks.close-hbf-position</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>{{APP_SUPPORT}}/close-hbf-position.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>TZ</key><string>Asia/Taipei</string>
    <key>GOLDENSTOCKS_DATA_DIR</key><string>{{DATA_DIR}}</string>
  </dict>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>8</integer><key>Minute</key><integer>45</integer></dict>
  </array>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>{{HOME}}/Library/Logs/com.jackm4.goldenstocks/close-hbf-position.out.log</string>
  <key>StandardErrorPath</key><string>{{HOME}}/Library/Logs/com.jackm4.goldenstocks/close-hbf-position.err.log</string>
</dict>
</plist>
