<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jackm4.goldenstocks.us-overnight-futures-sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>{{US_OVERNIGHT_FUTURES_SYNC_LAUNCHER}}</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/tmp</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
		<key>PYTHONPATH</key>
		<string>{{PROJECT_ROOT}}/src</string>
	</dict>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key><integer>1</integer>
			<key>Hour</key><integer>14</integer>
			<key>Minute</key><integer>10</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>2</integer>
			<key>Hour</key><integer>14</integer>
			<key>Minute</key><integer>10</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>3</integer>
			<key>Hour</key><integer>14</integer>
			<key>Minute</key><integer>10</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>4</integer>
			<key>Hour</key><integer>14</integer>
			<key>Minute</key><integer>10</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>5</integer>
			<key>Hour</key><integer>14</integer>
			<key>Minute</key><integer>10</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>{{HOME}}/Library/Logs/com.jackm4.goldenstocks/us-overnight-futures-sync.log</string>
	<key>StandardErrorPath</key>
	<string>{{HOME}}/Library/Logs/com.jackm4.goldenstocks/us-overnight-futures-sync.err.log</string>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
