<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jackm4.etf.intraday-1300-digest</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>{{INTRADAY_1300_DIGEST_LAUNCHER}}</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/tmp</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>SYNC_PROFILE</key>
		<string>intraday-1300-digest</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key><integer>1</integer>
			<key>Hour</key><integer>13</integer>
			<key>Minute</key><integer>2</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>2</integer>
			<key>Hour</key><integer>13</integer>
			<key>Minute</key><integer>2</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>3</integer>
			<key>Hour</key><integer>13</integer>
			<key>Minute</key><integer>2</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>4</integer>
			<key>Hour</key><integer>13</integer>
			<key>Minute</key><integer>2</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>5</integer>
			<key>Hour</key><integer>13</integer>
			<key>Minute</key><integer>2</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>{{PROJECT_ROOT}}/logs/intraday/launchd_intraday-1300-digest.log</string>
	<key>StandardErrorPath</key>
	<string>{{PROJECT_ROOT}}/logs/intraday/launchd_intraday-1300-digest.err.log</string>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
