<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jackm4.etf.second-disp-oos-accumulate</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>{{SECOND_DISP_OOS_LAUNCHER}}</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/tmp</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
		<key>PYTHONPATH</key>
		<string>{{PROJECT_ROOT}}/src</string>
	</dict>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key><integer>6</integer>
			<key>Hour</key><integer>8</integer>
			<key>Minute</key><integer>0</integer>
		</dict>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<!-- launchd StdOut/StdErr 必須在 ~/Library/Logs：路徑在 ~/Documents 下會因 TCC 靜默 exit 78 -->
	<key>StandardOutPath</key>
	<string>{{HOME}}/Library/Logs/launchd_second-disp-oos-accumulate.log</string>
	<key>StandardErrorPath</key>
	<string>{{HOME}}/Library/Logs/launchd_second-disp-oos-accumulate.err.log</string>
</dict>
</plist>
