<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jackm4.etf.evening-holdings</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>{{EVENING_HOLDINGS_LAUNCHER}}</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/tmp</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>SYNC_PROFILE</key>
		<string>evening-holdings</string>
		<key>RUN_STOCK_DAILY_LENS</key>
		<string>1</string>
		<key>RUN_SUPABASE_LENS_SYNC</key>
		<string>1</string>
		<key>RUN_SCREENER_DATA_SYNC</key>
		<string>1</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key><integer>1</integer>
			<key>Hour</key><integer>16</integer>
			<key>Minute</key><integer>30</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>2</integer>
			<key>Hour</key><integer>16</integer>
			<key>Minute</key><integer>30</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>3</integer>
			<key>Hour</key><integer>16</integer>
			<key>Minute</key><integer>30</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>4</integer>
			<key>Hour</key><integer>16</integer>
			<key>Minute</key><integer>30</integer>
		</dict>
		<dict>
			<key>Weekday</key><integer>5</integer>
			<key>Hour</key><integer>16</integer>
			<key>Minute</key><integer>30</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>{{HOME}}/Library/Logs/com.jackm4.etf/evening-holdings.launchd.log</string>
	<key>StandardErrorPath</key>
	<string>{{HOME}}/Library/Logs/com.jackm4.etf/evening-holdings.launchd.err.log</string>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
